.article {
    margin-top: 10px;
    gap: 5px;
    margin-left: 30px;
    margin-right: 30px;
    border: 1px solid black;
    padding: 5px;
    text-align: center;
    // &__title{

    // }
    // &__text{

    // }
}
