<div class="container">
    <h1 #pageTitle>Angular</h1>
    <a href="#">Mon lien</a>
    <aw-tags [max]="10"></aw-tags>
    <aw-blog></aw-blog>
    <div class="cards">
        <aw-card title="Title1">
            <header><h3>Header</h3></header>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Quisquam, vero!</p>
            <footer><h3>Footer</h3></footer>
        </aw-card>
        <aw-card title="Title2">
            <img src='http://unsplash.it/300/300?random&gravity=center' alt=''/>
            <footer><h3>Footer</h3></footer>
        </aw-card>
        <aw-card title="Title1">
            <header><h3>Header</h3></header>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Quisquam, vero!</p>
            <footer><h3>Footer</h3></footer>
        </aw-card>
        <aw-card title="Title2">
            <img src='http://unsplash.it/300/300?random&gravity=center' alt=''/>
            <footer><h3>Footer</h3></footer>
        </aw-card>
        <aw-card title="Title1">
            <header><h3>Header</h3></header>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Quisquam, vero!</p>
            <footer><h3>Footer</h3></footer>
        </aw-card>
        <aw-card title="Title2">
            <img src='http://unsplash.it/300/300?random&gravity=center' alt=''/>
            <footer><h3>Footer</h3></footer>
        </aw-card>
    </div>
</div>