<aw-carousel></aw-carousel>
<div class="container">
    <aw-color></aw-color>
    <!-- <aw-aw-carousel [images]="slides"></aw-aw-carousel> -->
    <h1 #pageTitle>Angular</h1>
    <aw-panel>
        <aw-tab name="Crypto" [selected]="true">
            <aw-crypto-markets [quantity]="5" [currency]="'eur'"></aw-crypto-markets>
        </aw-tab>
        <aw-tab name="Tab2" [selected]="false">
            <p>Lorem ipsum dolor sit.</p>
        </aw-tab>
        <aw-tab name="Tab3" [selected]="false">
            <img src='http://unsplash.it/200/200?random&gravity=center' alt='random image' />
        </aw-tab>
    </aw-panel>
    <a href="#">Mon lien</a>
    <aw-tags [max]="10"></aw-tags>
    <aw-blog></aw-blog>
    <div class="cards">
        <aw-card title="Title1">
            <header>
                <h3>Header</h3>
            </header>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Quisquam, vero!</p>
            <footer>
                <h3>Footer</h3>
            </footer>
        </aw-card>
        <aw-card title="Title2">
            <img src='http://unsplash.it/300/300?random&gravity=center' alt='' />
            <footer>
                <h3>Footer</h3>
            </footer>
        </aw-card>
        <aw-card title="Title1">
            <header>
                <h3>Header</h3>
            </header>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Quisquam, vero!</p>
            <footer>
                <h3>Footer</h3>
            </footer>
        </aw-card>
    </div>
</div>